<a href="{{ post.url }}" class="posts-list-item">
  <div class="posts-list-date">{{ post.date | postDateShort }}</div>
  <div class="posts-list-content">
    <h3 class="posts-list-title">{{ post.data.title }}</h3>
    {% if post.data.description %}
      <p class="posts-list-desc">{{ post.data.description }}</p>
    {% endif %}
  </div>
</a>