<a href="{{ post.url }}" class="blog-item">
  <span class="blog-title">{{ post.data.title }}</span>
  <span class="blog-dots"></span>
  <span class="blog-date">{{ post.date | postDate }}</span>
</a>