---
layout: 'base.njk'
---
<article class="main-article">
<div class="container container--narrow flow">
  
    <h1 class="article-title">
      {{ title }}
    </h1>
    <figure class="main-article__figure">
      <img src="{{ image }}" alt="{{ imageAlt }}">
      <figcaption>
        {{ imageAlt }}
      </figcaption>
    </figure>
    <div class="post-meta">
      <p><i class="fa-solid fa-user"></i> Written By: {{ author }}</p>
      <p><i class="fas fa-calendar-alt"></i> Published On: {{ date | postDate }}</p>
    </div>
      
  {{ content | safe }}
  
</div>
</article>

{% if tags.length > 0 %}
  <div class="post-tags">
    <p>Tags:</p>
    <p>
      {% for tag in tags %}
        {% if tag != "post" %}  {# Exclude default "post" tag #}
          <a href="/tags/{{ tag }}/" class="tag-link">#{{ tag }}</a>{% if not loop.last %}, {% endif %}
        {% endif %}
      {% endfor %}
    </p>
  </div>
{% endif %}
