# Dependencies
node_modules/

# 11ty Build Output (Change this to match your output folder name)
_site/
public/

# System files
.DS_Store
Thumbs.db

# Environment variables (if you have API keys)
.env
.log
# Local Netlify folder
.netlify
