# Redirect all unknown routes to 404
[[redirects]]
  from = "/*"
  to = "/404.html"
  status = 404

# Cache settings
[[headers]]
  for = "/assets/*"
  [headers.values]
    Cache-Control = "public, max-age=0, must-revalidate"

# Default security headers for the whole site
[[headers]]
  for = "/*"
  [headers.values]
    X-Frame-Options = "DENY"
    X-Content-Type-Options = "nosniff"
    X-XSS-Protection = "1; mode=block"
