---
title: All Articles by Maroof Lone
layout: 'base.njk'
---

<div class="section">
  
  <div class="container">
    
    <div class="blog-header"> 
        <h1 class="blog-section-title">All Posts</h1>
        <p class="blog-description">My digital workspace for everything I learn and unlearn. A home for the things I notice, the random thoughts I care to keep, and the unfinished drafts worth saving.</p>
    </div>

    <div class="blog-list">
         {%- for post in collections.post | reverse -%}
         {% include 'article-snippet.njk' %}
         {%- endfor -%}
    </div>

  </div>