---
title: Contact Me
layout: 'base.njk'
---

<div class="section">
    <div class="container">
            <h1 class="section-title">Get In Touch</h1>
            <p>
                Have a question or just want to say hi? I'd love to hear from you. Reach out through any of the platforms below.
            </p>
  <div class="social-links">
      <a href=mailto:hello@marooflone.com aria-label="Email"><i class="fa-solid fa-envelope"></i></a>
      <a href="https://github.com/maroofmedia" target="_blank" aria-label="GitHub"><i class="fa-brands fa-github"></i></a>
      <a href="https://twitter.com/marooflone13" target="_blank" aria-label="Twitter"><i class="fa-brands fa-x-twitter"></i></a>
      <a href="https://www.linkedin.com/in/marooflone13/" target="_blank" aria-label="LinkedIn"><i class="fa-brands fa-linkedin"></i></a>
      <a href="https://instagram.com/marooflone13" target="_blank" aria-label="Instagram"><i class="fa-brands fa-instagram"></i></a>
    </div>          
            
    </div>
</div>
