---
permalink: /hi/
layout: false
description: "QQuick links to Maroof Lone's work. Find my coding projects, helpful developer resources, community links, and ways to connect with me directly."
---
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="refresh" content="0; url=mailto:hello@marooflone.com">
    
    <script>
        window.location.href = "mailto:hello@marooflone.com";
    </script>
</head>
<body>
    </body>
</html>