---
permalink: /hi/
layout: false
---
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="refresh" content="0; url=mailto:hello@marooflone.com">
    
    <script>
        window.location.href = "mailto:hello@marooflone.com";
    </script>
</head>
<body>
    </body>
</html>